<nav class="navbar">
  <div class="logo">
    <a href="#home">Atlas</a>
  </div>

  <button id="burger-menu" class="burger-menu" aria-label="Menu">
    <span class="burger-line"></span>
    <span class="burger-line"></span>
    <span class="burger-line"></span>
  </button>

  <div class="links" id="nav-links">
    <div class="nav-item"><a href="#vision">Visión</a></div>
    <div class="nav-item"><a href="#values">Valores</a></div>
    <div class="nav-item"><a href="#services">Servicios</a></div>
    <div class="nav-item"><a href="#team">Equipo</a></div>
    <div class="nav-item"><a href="#contact">Contacto</a></div>
  </div>
</nav>